.passwordFieldBox {
    position: relative;
}

.textField {
    min-width: 38.4rem;
    & input {
        padding-left: 0;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.passwordField input {
    padding-right: var(--spectrum-global-dimension-size-500) !important;
    padding-left: var(--spectrum-global-dimension-size-125);
    display: flex;
    flex-direction: column;
}

.passwordFieldError input {
    padding-right: var(--spectrum-global-dimension-size-650) !important;
}

.textInputIcons {
    position: absolute;
    right: 0;
    bottom: 0;
}

.iconButton {
    border: none !important;
    background-color: transparent !important;

    &:hover {
        background-color: transparent !important;
    }
}

.icon {
    width: var(--spectrum-global-dimension-size-400);
}

.alertIcon {
    width: var(--spectrum-global-dimension-size-200);
    fill: var(--brand-coral-cobalt);
}

.tip {
    display: block;
    font-size: var(--spectrum-global-dimension-font-size-75);
    line-height: var(--spectrum-global-dimension-size-175);
    margin-top: var(--spectrum-global-dimension-size-125);
    margin-left: var(--spectrum-global-dimension-size-65);
}

.errorMsg {
    color: var(--brand-coral-cobalt);
}

.newPassword {
    color: var(--spectrum-global-color-gray-700);
}
