.keyContainer {
    width: fit-content;
    padding: var(--spectrum-global-dimension-size-40) var(--spectrum-global-dimension-size-65);
    border-radius: var(--spectrum-global-dimension-size-40);
    background-color: var(--spectrum-global-color-gray-200);
}
