.header {
    text-align: center;
    background: linear-gradient(90deg, #1db0e2 0%, #4ca286 52.6%, #89ad4e 100%);
    box-shadow: 0px 2px 4px 0px #00000026;
    padding: var(--spectrum-global-dimension-size-350) var(--spectrum-global-dimension-size-675);
}
