.projectAnnotationsMediaLargeText {
    font-size: var(--spectrum-global-dimension-font-size-900);
    line-height: var(--spectrum-global-dimension-size-600);
}

.projectAnnotationsMediaSmallText {
    font-size: var(--spectrum-global-dimension-font-size-100);
    line-height: var(--spectrum-global-dimension-size-275);
}
