@use '../../../../shared/components/custom-tab-item/custom-tab-item.module.scss';

.childrenTabList {
    div[class*='spectrum-Tabs-selectionIndicator'] {
        display: none;
    }
}

.formatRow {
    justify-content: space-between;
    padding-top: var(--spectrum-global-dimension-size-350);
    margin-left: var(--spectrum-global-dimension-size-125);
    padding-bottom: var(--spectrum-global-dimension-size-200);

    &:first-child {
        padding-top: var(--spectrum-global-dimension-size-150);
    }

    label {
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        height: var(--spectrum-global-dimension-size-200);
        width: var(--spectrum-global-dimension-size-200);

        svg {
            fill: var(--spectrum-alias-icon-color);
        }
    }
}
