.description {
    overflow: auto;
}

.learnImage {
    border-top-left-radius: var(--spectrum-alias-border-radius-regular) !important;
    border-top-right-radius: var(--spectrum-alias-border-radius-regular) !important;
}

.learnRedirectionText {
    color: var(--spectrum-global-color-gray-900);
}
