.toggleButton {
    border-radius: 0;
}

.firstButton {
    border-right-color: transparent !important;
}

.middleButton {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
}

.lastButton {
    border-left-color: transparent !important;
}
