.header {
    font-weight: 500;
}

.description {
    color: var(--spectrum-global-color-gray-700) !important;
    font-size: var(--spectrum-global-dimension-font-size-75) !important;
    padding-right: var(--spectrum-global-dimension-size-325) !important;
}
