.sortBy {
    color: inherit;
    text-decoration: none;
    line-height: var(--spectrum-global-dimension-size-175);

    & :hover,
    & :active {
        text-decoration: none;
        line-height: var(--spectrum-global-dimension-size-175);
    }
}
