@use '../../../../shared.module';

.container {
    @extend .blueGreenGradient;
    padding: var(--spectrum-global-dimension-size-200);

    & [class*='tip-triangle'] {
        fill: #89ad4e !important;
    }
}

.divider {
    background: #a2bb7b;
}

.close {
    color: var(--spectrum-global-color-gray-900);
}
