.filterContainer {
    padding: 0 var(--spectrum-global-dimension-size-100) 0 var(--spectrum-global-dimension-size-25);
    overflow: auto;
    border: var(--spectrum-alias-input-border-size) solid var(--spectrum-alias-border-color);
    border-radius: var(--spectrum-global-dimension-size-50);
    cursor: pointer;
    transition: border-color 200ms ease-in;

    &:hover {
        border-color: var(--spectrum-global-color-gray-500);

        .searchPlaceholder {
            color: var(--spectrum-global-color-gray-900);
        }
    }
}

.searchPlaceholder {
    color: var(--placeholder-light);
    margin-left: var(--spectrum-global-dimension-size-125);
    transition: color 200ms ease-in;
}

.dialog {
    & div[class*='spectrum-Dialog-grid'] {
        --spectrum-dialog-padding-x: var(--spectrum-global-dimension-size-200);
        --spectrum-dialog-padding-y: var(--spectrum-global-dimension-size-200);
    }
}
