.flashingAnimation {
    --dotsMargin: calc(var(--dotSize) * 2);

    position: relative;
    background-color: var(--spectrum-global-color-gray-800);
    height: var(--dotSize);
    width: var(--dotSize);
    border-radius: 50%;
    animation: flashing 1s infinite linear alternate;
    animation-delay: 0.3s;

    &::before,
    &::after {
        position: absolute;
        display: inline-block;
        content: '';
        left: 0;
        top: 0;
        height: var(--dotSize);
        width: var(--dotSize);
        border-radius: 50%;
        animation: flashing 1s infinite alternate;
    }

    &::before {
        left: calc(var(--dotsMargin) * -1);
        animation-delay: 0s;
    }

    &::after {
        left: var(--dotsMargin);
        animation-delay: 0.6s;
    }
}

@keyframes flashing {
    0% {
        background-color: var(--bgColorStartAnimation);
    }
    50%,
    100% {
        background-color: var(--bgColorEndAnimation);
    }
}
