.triangle {
    content: '';
    position: absolute;
    right: -16px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--spectrum-global-dimension-font-size-200) 0 var(--spectrum-global-dimension-font-size-200)
        var(--spectrum-global-dimension-font-size-200);
    transform: rotate(360deg);
    transition: all 0.3s ease-out;
    border-color: transparent transparent transparent var(--spectrum-global-color-gray-100);

    &:hover {
        border-color: transparent transparent transparent var(--spectrum-global-color-gray-50);
    }
}

.breadcrumbItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--spectrum-global-color-gray-100);
    border: var(--spectrum-global-dimension-size-10) solid var(--spectrum-global-color-gray-50);
    border-right: none;
    font-size: var(--spectrum-global-dimension-font-size-75);
    font-family: intelOne;
    font-weight: bold;

    line-height: 21px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    color: var(--spectrum-global-color-gray-700);
    padding-left: var(--spectrum-global-dimension-size-100);
    padding-right: var(--spectrum-global-dimension-size-50);

    &:hover {
        background-color: var(--spectrum-global-color-gray-50) !important;
        cursor: pointer !important;
    }

    &.selected {
        background-color: var(--spectrum-global-color-gray-50) !important;
        text-decoration: none !important;
        cursor: pointer !important;
        color: var(--energy-blue) !important;
        border-bottom-color: var(--energy-blue) !important;
        border-radius: 0 var(--spectrum-alias-border-radius-xsmall) var(--spectrum-alias-border-radius-xsmall) 0 !important;

        &::after {
            border-color: transparent transparent transparent var(--spectrum-global-color-gray-50) !important;
        }
    }

    &.all {
        white-space: nowrap;
        border-radius: var(--spectrum-global-dimension-size-25);
        border-right: 1px solid var(--spectrum-global-color-gray-50);
        margin-right: var(--spectrum-global-dimension-size-130);
        padding-right: var(--spectrum-global-dimension-size-100);

        &:after,
        &:before {
            display: none;
        }
    }

    &.disabled {
        background-color: var(--spectrum-global-color-gray-50) !important;
        color: var(--spectrum-global-color-gray-400) !important;
        cursor: default !important;
        border-bottom-color: var(--spectrum-global-color-gray-50) !important;
        border-radius: 0 var(--spectrum-alias-border-radius-xsmall) var(--spectrum-alias-border-radius-xsmall) 0 !important;

        &:hover {
            background-color: var(--spectrum-global-color-gray-50) !important;
            cursor: default !important;
        }

        &::after {
            border-color: transparent transparent transparent var(--spectrum-global-color-gray-50) !important;
        }
    }

    &:before {
        @extend .triangle;

        right: -17px;
        border-color: transparent transparent transparent var(--spectrum-global-color-gray-50);
    }

    &:after {
        @extend .triangle;
    }
}

.breadcrumbListItem {
    height: 100%;
    width: 100%;

    &:last-child {
        button {
            border-left: none;
            padding-left: var(--spectrum-global-dimension-size-250);
            border-bottom-right-radius: var(--spectrum-global-dimension-size-25) !important;
            border-top-right-radius: var(--spectrum-global-dimension-size-25);
        }

        &:after {
            right: -15px;
        }

        &:before {
            right: -16px;
        }
    }
}
