.errorMessage {
    font-size: var(--spectrum-global-dimension-font-size-75);
    line-height: var(--spectrum-global-dimension-size-175);
    color: var(--brand-coral-cobalt);
    display: inline-block;
}
