.container {
    padding-left: var(--spectrum-global-dimension-size-100);
}

.text {
    font-size: var(--spectrum-global-dimension-size-130);
}

.progressBar {
    left: 0px !important;
    width: var(--spectrum-global-dimension-size-3400) !important;
    bottom: 0px !important;
    position: absolute !important;

    & > div {
        background: var(--spectrum-global-color-gray-75) !important;
    }
}
