@use '../../shared/background-layout/background-layout.module.scss';

.passwordRecoveryConfirmation {
    font-size: var(--spectrum-global-dimension-font-size-200);
    color: var(--spectrum-global-color-gray-800);
}

.backSignIn {
    color: var(--spectrum-global-color-gray-800);
}
