@use 'spectrum-table.scss';

.ReactVirtualized__Table {
    @extend .spectrum-Table;

    font-family: intelOne;
}

.ReactVirtualized__Table__headerColumn {
    @extend .spectrum-Table-headCell;
}

.ReactVirtualized__Grid .ReactVirtualized__Table__Grid {
    @extend .spectrum-Table-body;
}

.ReactVirtualized__Table__row {
    @extend .spectrum-Table-row;

    width: 100% !important;
    background-color: var(--spectrum-global-color-gray-75);
    border-top: var(--spectrum-global-dimension-size-75) solid var(--spectrum-global-color-gray-50);
    border-bottom: var(--spectrum-global-dimension-size-75) solid var(--spectrum-global-color-gray-50);
}

.ReactVirtualized__Table__rowColumn {
    @extend .spectrum-Table-cell;

    display: flex;
    color: var(--spectrum-global-color-gray-900);
}

.ReactVirtualized__Table__row-unclickable {
    cursor: default !important;

    &:active {
        background-color: var(--spectrum-alias-highlight-hover);
    }
}
