.idleHeader {
    color: var(--spectrum-global-color-gray-700);
}

.activeSetIsEmptyHeader {
    color: var(--spectrum-global-color-gray-700);
    margin: 0;
    font-size: var(--spectrum-global-dimension-font-size-900);
    line-height: var(--spectrum-global-dimension-size-600);
    font-weight: normal;
}

.labelShortcuts {
    z-index: 1 !important;
}

.waitingWrapper {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    left: var(--spectrum-global-dimension-size-200);
    bottom: var(--spectrum-global-dimension-size-200);
    width: calc(100% - var(--spectrum-global-dimension-size-200) * 2);
    padding: var(--spectrum-global-dimension-size-200) var(--spectrum-global-dimension-size-275);
    background-color: var(
        --spectrum-alias-background-color-gray-200,
        var(--spectrum-global-color-gray-200, var(--spectrum-semantic-gray-200-color-background))
    );
}

.cancelInference {
    margin-left: auto !important;
    color: var(--spectrum-global-color-negative) !important;

    &[class*='is-hovered'] {
        color: var(--spectrum-global-color-negative) !important;
    }
}
