.activatedStatus {
    fill: var(--brand-moss);
}

.suspendedStatus {
    fill: var(--brand-rust);
}

.deletedStatus {
    fill: var(--brand-coral-cobalt);
}

.registeredStatus {
    fill: var(--daisy-shade);
}
