.subTitle {
    font-size: var(--spectrum-global-dimension-font-size-75) !important;
    color: var(--spectrum-global-color-gray-700) !important;
    margin: 0 !important;
}

.title {
    font-size: var(--spectrum-global-dimension-font-size-200) !important;
    margin: 0 !important;
}
