@use '../../shared.module.scss';

.container {
    @extend .blueGreenGradient;
    padding: var(--spectrum-global-dimension-size-200);

    & [class*='tip-triangle'] {
        fill: #89ad4e !important;
    }
}

.divider {
    background: #a2bb7b;
}

.close {
    color: var(--spectrum-global-color-gray-900);
}

.fuxHeader {
    margin-block-end: var(--spectrum-global-dimension-size-100);
    width: 100%;
    justify-content: space-between;
    align-items: start;

    .header {
        font-size: var(--spectrum-global-dimension-font-size-400);
        font-weight: 500;
        width: 85%;
    }

    .steps {
        font-size: var(--spectrum-global-dimension-font-size-50);
    }
}