.toggleSidebarButton {
    cursor: pointer;
    user-select: none;
    user-select: none !important;
    -webkit-user-select: none !important;
    border: none !important;
    padding: 0 !important;
    outline: none !important;
    margin: 0 !important;
}
