.activeTag {
    color: var(--spectrum-gray-50);
    background-color: var(--energy-blue) !important;
}

.small {
    font-size: var(--spectrum-global-dimension-size-130);
    padding: var(--spectrum-global-dimension-size-25) !important;

    span {
        padding-inline-start: var(--spectrum-global-dimension-size-10) !important;
        padding-inline-end: var(--spectrum-global-dimension-size-10) !important;
        text-align: center;
    }
}
