.editMemberTitle,
.editMemberUserInfo {
    font-size: var(--spectrum-global-dimension-font-size-200);
}

.editMemberEmail > svg {
    width: var(--spectrum-global-dimension-size-175);
}

.lastLogin {
    font-size: var(--spectrum-global-dimension-font-size-75);
}
